body {
	background-image: url("images/clouds.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	position: relative;
	left: 1%;
	top: -20%;
	width: 6%;
	font-size: 4vh;
	font-weight: 800;
	font-family: "Bahnschrift";
	background: -webkit-linear-gradient(0deg, #E4919C, #8B6CA3);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

h2 {
	text-align: center;
	font-family: "Bahnschrift SemiBold";
	color: #fff;
	font-size: 2.5vw;
}

.colourselect {
	display: inline-block;
	width: 100%;
	height: 30%;
}

.preview {
	display: inline-block;
	height: 100%;
	width: 7%;
	background-color: #fff;
}

.hexinput {
	resize: none;
}

#output {
	position:absolute;
	bottom: -250%;
	width: 80%;
	height: 100%;
	background-color: #ffffff9E;
}

#pagetop {
	background: -webkit-linear-gradient(45deg, #161616, #101010);
	float: left;
	width: 100%;
	height: 7%;
	position: fixed;
	top: 0;
	left: 0;
}

#bottomline {
	background-color: #E4919C;
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	box-shadow: 0 0 15px 10px #E4919C;
}

#main {
	background: -webkit-linear-gradient(45deg, #1616169E, #1010109E);
	box-shadow: 0 0 10px 10px #1010109E;
	position: absolute;
	top: 10%;
	width: 50%;
	height: 100%;
	left: 25%;
}

#gradientgen {
	position: absolute;
	left: 10%;
	width: 80%;
	height: 10%;
}

#inputmessage {
	background: #ffffff9E;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	resize: none;
}

#options {
	position: absolute;
	width: 100%;
	height: 125%;
	left: 0;
	bottom: -150%;
}